body{
margin: 0 10%;
font-family: sans-serif;
}


Header {
    background-color: #9abcf8;
    color: white;
    padding: 2rem;
}

h1{
font-size: 2rem;
}

h2{
font-size: 1.5rem;
}

h3{
font-size: 1.25rem;
}

p{
    color: #000000;
    text-align: left;
}

.circle {
border-radius: 50%;
border: 5px;
}