body{
    background-color: #e3e7da;
margin: 0 10%;
font-family: sans-serif;
}
h1{
    text-align: center;
    color: #000000;
    font-family: helvetica;
    font-kerning: -60em;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3em;
    border-bottom: 1px solid #000000;
    margin-top: 30px;
}
h2{
    color: #000000;
    font-size: 1 em;
    font-family: Helvetica;
    text-transform: uppercase;
    text-align: left
}
h3{
    color: #3d2cd3;
    font-size: 1em;
    font-family: Helvetica;
    text-align: left;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
p{
    color: #000000;
    text-align: left;
}