@import url(https://use.typekit.net/ysf1kxa.css);

nav {
    align-content: center;
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 10px 15px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

a:link, a:visited{
    align-content: left;
    background-color: white;
    color: black;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 12px;
    display: flex;
    justify-content: left;
    text-decoration: none;
}

a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    color: rgb(22, 54, 198);
}

/******header******/
.hero {
    text-align: center;
}

.hero img{
    width: 80%;
}

body{
    background-color: white;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    font-weight: 500;
    font-style: normal;
}

.item-category {
    text-align: left;
    margin-top: 20px;
    max-width: 80%;
    margin: 30px auto;
    display: flex;
}

/******drugs drugs drugs******/
.item-section {
    margin-top: 20px;
    max-width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media (max-width: 1000px) {
    .item-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

    @media (max-width: 800px) {
        .item-section {
            grid-template-columns: repeat(2, 1fr);
        }
}

.item {
    border-radius: 0px;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}

.item-image {
    height: 300px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}

.item > .title {
    font-size: 20px;
}

.item > .description {
    font-size: 10px;
}

.item > .price {
    font-size: 10px;
    font-style: italic;
}
