@import url(https://use.typekit.net/ysf1kxa.css);

nav {
    align-content: center;
    background-color: white;
    color: black;
    padding: 0 2rem;
    display: flex;
    justify-content: left;
    top: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav a:link, nav a:visited {
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 1rem;
    display: block;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body{
    background-color: white;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    font-weight: 500;
    font-style: normal;
}

.item-category {
    text-align: center;
}

/******drugs drugs drugs******/
.item-section {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media (max-width: 1000px) {
    .item-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

    @media (max-width: 800px) {
        .item-section {
            grid-template-columns: repeat(2, 1fr);
        }
}

.item {
    border-radius: 0px;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}

.item-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}

.item > .title {
    font-size: 20px;
}

.item > .description {
    font-size: 10px;
}

.item > .price {
    font-size: 10px;
    font-style: italic;
}
