@import url(https://use.typekit.net/ysf1kxa.css);

body{
    margin: 0;
    padding: 3rem;
    background-color: black;
    color: white;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    line-height: 1.3;
}

nav {
    align-content: center;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

a, a:visited {
    text-decoration: none;
}

.card {
    display: grid;
    background: white;
    border-radius: 10px;
    color: black;
}