@import url(https://use.typekit.net/ysf1kxa.css);

body{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    line-height: 1.3;
}

/******header******/
.hero {
    text-align: center;
}
.hero img{
    width: 80%;
}

nav {
    align-content: center;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

a, a:visited {
    text-decoration: none;
}

/******grid-layout*******/

.cards{
    display: grid;
    gap: 1rem;
}

@media (max-width: 100%) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
    @media (max-width: 800px) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
}

.card {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 300px 1fr auto;
    background: black;
    border-radius: 10px;
    color: white;
}


.card-image{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: no-repeat center center/cover;
}

.card-content{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 1.5rem;
}

.card-title{
    font-size: 25px;
    font-style: bold;
    margin-bottom: .75rem;
    line-height: 1;
}

.card-description{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: .75rem;
}

.card-price{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 15px;
    line-height: 1;
    padding: 1.5rem;
    padding-left: 1.5rem;
}

