@import url(https://use.typekit.net/ysf1kxa.css);

body{
    background-color: white;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    font-weight: 500;
    font-style: normal;
}

.categories {
    max-width: 1200px;
    margin: 40px auto;
    border: 1px solid black;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    flex-grow: 1;
    min-width: 33%;
    border: 1px solid black;
    box-sizing: border-box;
    height: 300px;
}