@import url(https://use.typekit.net/ysf1kxa.css);

body{
    background-color: white;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    font-weight: 500;
    font-style: normal;
}

.categories {
    max-width: 1200px;
    margin: 40px auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 25%;
    border: 1px solid black;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.category-item-inner > div{
padding: 5px 10px;
background: white;
color: black;
border-radius: 5px;
font-size: 20px;
}

@media (max-width: 100px){
    .category-item {
        min-width: 50%;
    }
}

    @media (max-width: 800px){
        .category-item {
            min-width: 100%;
        }
}

/******topsellers******/
.top-sellers {
    margin-top: 20px;
    border: 1px solid black;
    max-width: 1200 px;
    margin: 0 auto;
    display: grid;

}

.top-sellers-title {
    text-align: center;
}

.item {
    border: 1px solid black;
    background: #666;
    height: 300px
}