*{
    box-sizing: border-box;
    font-family: sans-serif;
}

Header {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2rem;
}

h1 {
font-size: 2rem;
font-family: Helvetica;
}

h2 {
font-size: 1.5rem;
color: #2e3188;
}

h3 {
font-size: 1.25rem;
color: #2e3188;
}
img {
    max-width: 100%;
}

p {
    color:  black;
    text-align: left;
}

/****** Layout ******/
.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12 , 1fr);
    margin: 0px auto;
    width: min(95%, 75rem);
}
.container > * {
    grid-column: span 12;
}

/******* Title ******/
.title {
    width: 100%;
    height: 500px;
}

img {
    width: 100%;
    height: 100%
}

 /****** Navigation - Home Button ******/
 .homeimage {
    display: flex;
    justify-content: left;
    width: 120px;
    height: 120px;
}

img {
    width: 100%;
    height: 100%
}

/****** Navigation ******/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

li {
    float: right;
}
li a {
    display: block;
    color: black;
    padding: 20px;
}

/****** Components ******/
.button:link, .button:visited {
    color: white;
    background-color: #000000 ;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 0, .25rem .25rem 0;
    transition: background-color .5s ease;
}
.button:hover{
    background-color: #170ac8;
}

.drugs{
    display: flex;
    justify-content: center;
    }

.drugcard {
    text-align: center;
    width: 500px;
    margin: 5px;
    padding-bottom: 2rem;
    border: 3px solid #000000;
}

.card-title {
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}

.card-text {
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem
}

