*{
    box-sizing: border-box;
    font-family: sans-serif;
}

Header {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: .5rem;
}

h1 {
font-size: 2rem;
font-family: Helvetica;
}

h2 {
font-size: 1.5rem;
color: #000000;
}

h3 {
font-size: 1.25rem;
color: #000000;
}
img {
    max-width: 100%;
}

p {
    color:  black;
    text-align: left;
}

/****** Layout ******/
.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12 , 1fr);
    margin: 0px auto;
    width: min(95%, 75rem);
}
.container > * {
    grid-column: span 12;
}

/******* Title ******/
.title {
    grid-column: span 3;
    margin-top: 15px;
    margin-right: 10px;
}

img {
    width: 100%;
    height: 100%;
}

 /****** Navigation - Home Button ******/
 .logo img{
    width: 100px;
    height: 100px;
    justify-content: left;
    margin-top: 15px;
    margin-right: 10px;
}

/****** Navigation ******/
nav{
    width: 100%;
    background: white;
}

nav a{
    display: block;
    padding: 20px 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0 0 0 150px;
    padding: 0;
}

li {
    float: right;
}


/****** Components ******/
.button:link, .button:visited {
    color: white;
    background-color: #000000 ;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 0, .25rem .25rem 0;
    transition: background-color .5s ease;
}
.button:hover{
    background-color: #170ac8;
}

.drugimg{
    border: 1px solid #000000;
    padding: 5rem 5rem;
}

.drugcard {
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;
    display: flex;
}

.card-title {
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}

.card-text {
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem
}


/****** Desktop Layout ********/
@media screen and (min-width: 40rem) {
    .drugcard {
        flex-basis: 27.5%;
    }
}