:root {
    --primary-color: white;
    --secondary-color: #007CBC;
    --neutral-grey: #747e83;
    --nuetral-light: #f0f0f0;
    --highlight-color: #f5ba36;

}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
margin: 0;

}

h1 {
    font-size: 2.5rem;
    color: var(--nuetral-light);
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
}

p, ul, ol {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey);
}
img {
    max-width: 100%;
}

/****** Layout ******/
.container {
    background-color: red;
    width: min(95%, 75rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}
.container > * {
    grid-column: span 12;
}

.green {background-color: green;}
.blue {background-color: blue;}
.yellow {background-color: yellow;}
.purple {background-color: purple;}
.orange {background-color: orange;}
.red {background-color: red;}

/****** Desktop Layout ******/
@media screen and (min-width: 40rem) {
    .nav {grid-column:  1  /  span 4;}
    .logo {grid-column:  5  /  span 2;}
    .language {grid-column:  5  /  span 2;}
    .main {grid-column:  1  /  span 12;}
    .social {grid-column:  1  /  span 12;}
    .search {grid-column:  1  /  span 12;}
    .copyright { grid-column:  1  /  span 12;}
}