*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
margin: 0px 10%;
background-image: url("../images/windowsdesktop.png");
background-size: 2400px;
width: 1920px;
height: 1080px;
}

Header {
    background-color: #e0df59;
    color: black;
    padding: 2rem;
}

h1 {
font-size: 2rem;
font-family: Helvetica;
}

h2 {
font-size: 1.5rem;
color: #2e3188;
}

h3 {
font-size: 1.25rem;
color: #2e3188;
}

p {
    color:  black;
    text-align: left;
}

.circle {
border-radius: 50%;
border: 5px;
}

a:link, a:visited {
    color: #b1272d;
    text-decoration: none;
}

a:hover{
    color: #2e3188;
    text-decoration: underline;
}


/****** Layout ******/
.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12 , 1fr);
    margin: 0px auto;
    width: min(95%, 75rem);
}
.container > * {
    grid-column: span 12;
}

/******* Desktop Layout ********/
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
}

/******* Navigation Using Flexbox ******/
nav {
    background-color: #88d5f3;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav li {
    margin: 0 0.5rem;
}

nav a:link, nav a:visited {
    color:#b1272d;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1rem;
    display: block;
    transition: ease-in-out 250ms;
}

nav a:hover{
    background-color: black;
    color: white;
}

/****** Components ******/
.button:link, .button:visited {
    color: white;
    background-color: #b1272d;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: 2rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    display: inline-block;
    margin: 0, .25rem .25rem 0;
    transition: background-color .5s ease;
}
.button:hover{
    background-color: #88d5f3;
}