body {
margin: 0 10%;
font-family: sans-serif;
background-image: url("../images/windows_hs.jpeg");
}
.container {
    background-color: white;
    opacity: 0.3;
}


Header {
    background-color: #000000;
    color: white;
    padding: 2rem;
}

h1 {
font-size: 2rem;
font-family: Helvetica;
}

h2 {
font-size: 1.5rem;
}

h3 {
font-size: 1.25rem;
}

p {
    color: #000000;
    text-align: left;
}

.circle {
border-radius: 50%;
border: 5px;
}