*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
margin: 0px 10%;
background-image: url("../images/skybackground.jpg");
background-size: 2400px;
width: 1920px;
height: 1080px;
}

Header {
    background-color: #005937;
    color: white;
    padding: 2rem;
}

h1 {
font-size: 2rem;
font-family: Helvetica;
}

h2 {
font-size: 1.5rem;
color: #005937
}

h3 {
font-size: 1.25rem;
color: #005937;
}

p {
    color: #000000;
    text-align: left;
}

.circle {
border-radius: 50%;
border: 5px;
}

a:link, a:visited{
    color: #b1272d;
    text-decoration: none;
}

a:hover{
    color: #2e3188;
    text-decoration: underline;
}


/****** Layout ******/
.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12 , 1fr);
    margin: 0px auto;
    width: min(95%, 75rem);
}
.container > * {
    grid-column: span 12;
}

/******* Desktop Layout ********/
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
}

/****** Components ******/
.button {
    color: white;
    background-color: #2e3188;
}